* {
    margin: 0;
    padding: 0;
    font-family: "Poppins-Regular", sans-serif;
    list-style: none;
}
input {
    all: unset;
}

.headerimg {
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("bg_header.jpg");
    background-size: cover;
    position: relative;
}
.headertitle {
    content: url("logo_header.png");
    position: absolute;
    bottom: 40%;
    left: 37%;
}
nav {
    display: flex;
    background-color: #fec88a;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}
.menunav {
    display: flex;
    list-style: none;
    gap: 30px;
    color: #9d3c36;
}
.search-bar {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #9d3c36;
    cursor: wait;
}
.researchbar {
    border-radius: 5px;
    border: 2px solid #9d3c36;
    background-color: #9d3c36;
}
.researchbar input {
    background-color: #fec88a;
    padding-left: 10px;
}
.researchbar input,
.researchbar input::placeholder {
    color: #9d3c36;
}
.menuoverall {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.full {
    background-color: #3c3c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.firstsection {
    display: flex;
    background-color: #3c3c3c;
    width: 60%;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 20px;
}
.image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("soupe.jpg");
    height: 225px;
    width: 300px;
}
.image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("salade.jpg");
    height: 225px;
    width: 300px;
}
.image3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("dessert.jpg");
    height: 225px;
    width: 300px;
}
body {
    display: flex;
    flex-direction: column;

    background-color: #3c3c3c;
}
.border {
    color: #fec88a;
    padding: 8px;
    border-bottom: 2px solid #fec88a;
    border-top: 2px solid #fec88a;
    width: 76%;
    text-align: center;
}
.redborder {
    color: #fec88a;
    padding: 20px;
    border-bottom: 2px solid #9d3c36;
    border-top: 2px solid #9d3c36;
    text-align: center;
}
.complexsection {
    background-color: #3c3c3c;
    width: 60%;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.tacos {
    background-image: url("tacos.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
}
.bigmenu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.leftsection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
}
.receip1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #c2c57e;
    text-align: center;
    padding: 5%;
    gap: 10px;
    position: relative;
}
.receip1::before {
    content: url("toque.png");
    height: 10%;
    width: 10%;
    position: absolute;
    bottom: 106%;
    left: 44%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #715750;
    background-image: url("me.jpg");
    background-size: cover;
    background-position: center;
    height: 472px;
    gap: 20px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.norep {
    mask-repeat: no-repeat;
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("/fonts/Poppins-Regular.ttf");
}

.rightsection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
.textme {
    text-align: center;
}
.table {
    display: flex;
    justify-content: space-between;
    color: white;
}
.doublemenu {
    display: flex;
    gap: 20px;
}
.tacos2 {
    background-image: url("cote_de_boeuf.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
}
.receip2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c2c57e;
    text-align: center;
    padding: 10%;
    gap: 10px;
    position: relative;
}
.tacos3 {
    background-image: url("carrot.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
}
.receip3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c2c57e;
    text-align: center;
    padding: 10%;
    gap: 10px;
    position: relative;
}

.rightmenu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.leftmenu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.receip2::before {
    content: url("toque.png");
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 89%;
    left: 33%;
}
.receip3::before {
    content: url("toque.png");
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 89%;
    left: 33%;
}
.beer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("bieres.jpg");
    height: 385px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.cofee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("cafe.jpg");
    height: 385px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.border1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    color: #fec88a;
    border: 2px solid #fec88a;
    width: 80%;
    height: 80%;
    text-align: center;
}
.receip4::before {
    content: url("toque.png");
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 87%;
    left: 42%;
}
.receip4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c2c57e;
    text-align: center;
    padding: 5%;
    gap: 10px;
    position: relative;
}
.lastmenu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.tacos4 {
    background-image: url("cookies.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
}
.lastsection {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-bottom: 40px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.custom-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.middle-text {
    font-size: 14px;
    color: #666;
    text-align: center;
}
.galerie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.ligne1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 50%;
    width: 100%;
}
.ligne2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 50%;
    width: 100%;
}

.image4 {
    background-image: url("hamburger_small.jpg");
    height: 210px;
    width: 31%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image5 {
    background-image: url("wrap_small.jpg");
    height: 210px;
    width: 31%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image6 {
    background-image: url("gateau_small.jpg");
    height: 210px;
    width: 31%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image7 {
    background-image: url("pancake_small.jpg");
    height: 210px;
    width: 31%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image8 {
    background-image: url("oeufs_small.jpg");
    height: 210px;
    width: 31%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image9 {
    background-image: url("poisson_small.jpg");
    height: 210px;
    width: 31%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer {
    display: flex;
    justify-content: center;
    background-image: url("bg_footer.jpg");
    background-image: url("Calque.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
}
.underfooter {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20%;
}
.footermenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.logo1 {
    background-image: url("logo_footer.png");
}
.footerright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.text3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.redbuton {
    background-color: #9d3c36;
    width: fit-content;
    padding: 5px;
    color: white;
    font-size: 16px;
}
.laststep {
    display: flex;
    justify-content: center;
}
.fa-search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fec88a;
    background-color: #9d3c36;
}
h3 {
    color: #9d3c36;
}
.blackcolor {
    color: white;
}
.size1 {
    font-size: 20px;
}
